@import "catppuccin-mocha.css";

* {
    /* `otf-font-awesome` is requisapphire to be installed for icons */
    font-family: 'JetBrainsMono Nerd Font', monospace;
    font-size: 16px;
}

window#waybar {
    background-color: transparent;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: @text;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}

/* you can set a style on hover for any module like this */

#custom-launcher-menu {
    color: @sky;
    margin: 0px 0px 0px 100;
    padding: 2px 3px 3px 8px;
    border-radius: 0px 0px 0px 10px;
    background-color: @surface0;
    border-right-width: 2px;
    border-bottom-width: 3px;
    border-right-color: alpha(@base,0.4);
    border-bottom-color: @sapphire;
    border-style: solid;
}

#workspaces {
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
    border-radius: 0 0 10 0;
    background-color: @surface0;
    border-left-width: 2px;
    border-bottom-width: 3px;
    border-left-color: alpha(@base,0.4);
    border-bottom-color: @sapphire;
    border-style: solid;
}

#workspaces button {
    padding: 0 5px 0 0px;
    color: @lavender;
}

#workspaces button:hover {
    background: @surface0;
    color: @sapphire;
    /* border: <original-color>; */
}

#workspaces button.active {
  color: @blue;
}

#workspaces button.urgent {}

#mpris {
  margin-left: 10;
  font-size: 13px;
  padding: 0 8px 0 10px;
  border-radius: 0 0 0px 10;
  background-color: @surface0;
    border-right-width: 2px;
    border-bottom-width: 3px;
    border-right-color: alpha(@base,0.4);
    border-bottom-color: @sapphire;
    border-style: solid;

    color: @teal;
}

#clock {
    color: @text;
    font-size: 18px;
    margin: 0px 0px 0px 0px;
    padding: 2px 10px 5px 10px;
    border-radius: 0 0 10 10;
    background-color: @surface0;
    border-bottom-width: 3px;
    border-bottom-color: @sapphire;
    border-style: solid;
}

#battery {
    color: @text;
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
    border-radius: 0 0 10 0;
    background-color: @surface0;
    border-left-width: 2px;
    border-bottom-width: 3px;
    border-left-color: alpha(@base,0.4);
    border-bottom-color: @sapphire;
    border-style: solid;
}

#battery.charging,
#battery.plugged {
    color: @green;
}

@keyframes blink {
    to {
        background-color: @base;
        color: @text;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
    margin: 0px 0px 0px 0px;
    padding: 0px 15px 0px 10px;
    background-color: @surface0;
    border-right-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 3px;
    border-right-color: alpha(@base,0.4);
    border-left-color: alpha(@base,0.4);
    border-bottom-color: @sapphire;
    border-style: solid;
}

#power-profiles-daemon.performance {
    color: @red;
}

#power-profiles-daemon.balanced {
    color: @yellow;
}

#power-profiles-daemon.power-saver {
    color: @green;
}

#cpu {
    color: @mauve;
    margin: 0px 0px 0px 0px;
    padding: 0px 5px 0px 10px;
    border-radius: 0 0 0 10;
    background-color: @surface0;
    border-bottom-width: 3px;
    border-bottom-color: @sapphire;
    border-style: solid;
}

#memory {
    color: @pink;
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 5px;
    background-color: @surface0;
    border-right-width: 2px;
    border-bottom-width: 3px;
    border-right-color: alpha(@base,0.4);
    border-bottom-color: @sapphire;
    border-style: solid;
}

#backlight {}

#network {
    color: @sky;
    margin: 0px 0px 0px 10px;
    padding: 0px 10px 0px 10px;
    border-radius: 0 0 0 10;
    background-color: @surface0;
    border-right-width: 2px;
    border-bottom-width: 3px;
    border-right-color: alpha(@base,0.4);
    border-bottom-color: @sapphire;
    border-style: solid;
}


#network.disconnected {}

#bluetooth {
    color: @blue;
    background-color: @sapphire;
    margin: 0px 100 0px 0px;
    padding: 0px 10px 0px 10px;
    border-radius: 0 0 10 0;
    background-color: @surface0;
    border-left-width: 2px;
    border-bottom-width: 3px;
    border-left-color: alpha(@base,0.4);
    border-bottom-color: @sapphire;
    border-style: solid;
}

#wireplumber {
    color: @sky;
    margin: 0px 0px 0px 0px;
    padding: 0px 10 0px 8px;
    border-radius: 0 0 10 0;
    background-color: @surface0;
    border-left-width: 2px;
    border-bottom-width: 3px;
    border-left-color: alpha(@base,0.4);
    border-bottom-color: @sapphire;
    border-style: solid;
}

#wireplumber.muted {}

#custom-power {
    color: @text;
    min-width: 100px;
}
