@define-color bg_dim #252423;
@define-color bg0 #32302f;
@define-color aqua #89b482;
@define-color blue #7daea3;
@define-color orange #e78a4e;
@define-color green #a9b665;
@define-color red #ea6962;
@define-color yellow #d8a657;
@define-color purple #d3869b;
@define-color fg0 #d4be98;
@define-color bgDiffBlue #0f3a42;
